@model List<CourseViewModel>
@{
    ViewData["Title"] = "Elenco dei corsi";
}
<h1>Catalogo dei corsi</h1>
<div class="row pt-2">
    @foreach(CourseViewModel course in Model)
    {
        <div class="col-3 col-md-1">
            <img src="@course.ImagePath" class="img-fluid" height="20px"/> 
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <author>di @course.Author</author>
        </div>
        <div class="col-md-2" title="@course.Rating">
            @for(int i =1; i<= 5; i++)
            {
                if(course.Rating >= i)
                {
                    <i class="fa-solid fa-star"></i>
                }
                else
                {
                    <i class="fa-regular fa-star"></i>    
                }
            }
        </div>
        <div class="col-md-2">
            @course.CurrentPrice<br />
            @if(!course.CurrentPrice.Equals(course.FullPrice))
            {
                <s>@course.FullPrice</s>
            }
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@course.Id">Dettaglio Corso @course.Id</a>
        </div>
    }
</div>

 